@charset 'utf-8';

/* colors
----------------- */
$color-text: #141415;
$color-weak: #999;
$color-error: #dd1c1a;
$color-border: #eee;

/* font families
----------------- */
$font-default: 'Catamaran', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro',
  'メイリオ', 'Meiryo', sans-serif;
$font-monospace: 'Overpass Mono', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro',
  monospace;

/* font sizes
----------------- */
$font-sm: 11px;
$font-md: 14px;
$font-lg: 17px;

/* break points
----------------- */
$breakpoint-sm: 640px;
$breakpoint-lg: 1000px;

/* z-index
----------------- */
$z-index-modal: 1000;
